.action-page {
  border-left:1px solid #ededed;
  float:left;
  font-size: 24px;
  padding: 13px 12px;
  color:#666;
  cursor:pointer;
  &:hover {
    color:#555;
  };
  
  &#back_action {
    display:none;
  }
}

.dynatable-search {
  float:right;
  & > input {
    border:1px solid #adadad;
    border-radius: 4px;
    padding: 5px 8px;
    width: 150px;
    transition:width 0.3s;
    -o-transition:width 0.3s;
    -ms-transition:width 0.3s;
    -moz-transition:width 0.3s;
    -webkit-transition:width 0.3s;
    &:focus {
      width: 220px;
      box-shadow:0px 0px 2px #999;
    };
  }
}

ul.dynatable-pagination-links {
  float:right;
  margin-top:5px;
  & > li:first-child {
    display:none;
  };
  & > li:nth-child(2):nth-last-child(3), & > li:nth-child(3):nth-last-child(2), & > li:nth-child(4):nth-last-child(1) {
    display:none;
  }
  .dynatable-active-page {
    padding: 2px 5px;
    border-radius:20px;
    background:#333;
    a.dynatable-page-link {
      color:#fff;
    }
  }
  .dynatable-disabled-page {
    a.dynatable-page-link {
      color:#aaa;
    }
  }
  a.dynatable-page-link {
    color:#333;
  }
}

table.table th {
  background:#333;
}
td.btn-group, td.btn-group-vertical {
  display:inline;
  position:static;
}