<%= stylesheet_link_tag    "ants_admin/application", :media => "all" %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="box box-primary add_popup">
      <h1><%= @model_config.title %></h1>
      <%= render :partial => "/ants_admin/form" %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
