<section class="content-header">
  <h1>
    Data Tables
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">Data tables</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hover Data Table</h3>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive">
          <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="col-xs-6"></div><div class="col-xs-6"></div></div><table aria-describedby="example2_info" id="example2" class="table table-bordered table-hover dataTable">
            <thead>
              <tr role="row"><th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" role="columnheader" class="sorting_asc">Rendering engine</th><th aria-label="Browser: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" role="columnheader" class="sorting">Browser</th><th aria-label="Platform(s): activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" role="columnheader" class="sorting">Platform(s)</th><th aria-label="Engine version: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" role="columnheader" class="sorting">Engine version</th><th aria-label="CSS grade: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" role="columnheader" class="sorting">CSS grade</th></tr>
            </thead>
                        
            <tfoot>
              <tr><th colspan="1" rowspan="1">Rendering engine</th><th colspan="1" rowspan="1">Browser</th><th colspan="1" rowspan="1">Platform(s)</th><th colspan="1" rowspan="1">Engine version</th><th colspan="1" rowspan="1">CSS grade</th></tr>
            </tfoot>
            <tbody aria-relevant="all" aria-live="polite" role="alert"><tr class="odd">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Firefox 1.0</td>
              <td class=" ">Win 98+ / OSX.2+</td>
              <td class=" ">1.7</td>
              <td class=" ">A</td>
            </tr><tr class="even">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Firefox 1.5</td>
              <td class=" ">Win 98+ / OSX.2+</td>
              <td class=" ">1.8</td>
              <td class=" ">A</td>
            </tr><tr class="odd">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Firefox 2.0</td>
              <td class=" ">Win 98+ / OSX.2+</td>
              <td class=" ">1.8</td>
              <td class=" ">A</td>
            </tr><tr class="even">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Firefox 3.0</td>
              <td class=" ">Win 2k+ / OSX.3+</td>
              <td class=" ">1.9</td>
              <td class=" ">A</td>
            </tr><tr class="odd">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Camino 1.0</td>
              <td class=" ">OSX.2+</td>
              <td class=" ">1.8</td>
              <td class=" ">A</td>
            </tr><tr class="even">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Camino 1.5</td>
              <td class=" ">OSX.3+</td>
              <td class=" ">1.8</td>
              <td class=" ">A</td>
            </tr><tr class="odd">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Netscape 7.2</td>
              <td class=" ">Win 95+ / Mac OS 8.6-9.2</td>
              <td class=" ">1.7</td>
              <td class=" ">A</td>
            </tr><tr class="even">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Netscape Browser 8</td>
              <td class=" ">Win 98SE+</td>
              <td class=" ">1.7</td>
              <td class=" ">A</td>
            </tr><tr class="odd">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Netscape Navigator 9</td>
              <td class=" ">Win 98+ / OSX.2+</td>
              <td class=" ">1.8</td>
              <td class=" ">A</td>
            </tr><tr class="even">
              <td class="  sorting_1">Gecko</td>
              <td class=" ">Mozilla 1.0</td>
              <td class=" ">Win 95+ / OSX.1+</td>
              <td class=" ">1</td>
              <td class=" ">A</td>
            </tr></tbody></table><div class="row"><div class="col-xs-6"><div id="example2_info" class="dataTables_info">Showing 1 to 10 of 57 entries</div></div><div class="col-xs-6"><div class="dataTables_paginate paging_bootstrap"><ul class="pagination"><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div></div></div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div><!-- /.box-header -->
          <div class="box-body table-responsive">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="col-xs-6"><div class="dataTables_length" id="example1_length"><label><select aria-controls="example1" size="1" name="example1_length"><option selected="selected" value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div></div><div class="col-xs-6"><div id="example1_filter" class="dataTables_filter"><label>Search: <input aria-controls="example1" type="text"></label></div></div></div><table aria-describedby="example1_info" id="example1" class="table table-bordered table-striped dataTable">
              <thead>
                <tr role="row"><th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 196px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting_asc">Rendering engine</th><th aria-label="Browser: activate to sort column ascending" style="width: 280px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting">Browser</th><th aria-label="Platform(s): activate to sort column ascending" style="width: 251px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting">Platform(s)</th><th aria-label="Engine version: activate to sort column ascending" style="width: 166px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting">Engine version</th><th aria-label="CSS grade: activate to sort column ascending" style="width: 115px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" role="columnheader" class="sorting">CSS grade</th></tr>
              </thead>
                        
              <tfoot>
                <tr><th colspan="1" rowspan="1">Rendering engine</th><th colspan="1" rowspan="1">Browser</th><th colspan="1" rowspan="1">Platform(s)</th><th colspan="1" rowspan="1">Engine version</th><th colspan="1" rowspan="1">CSS grade</th></tr>
              </tfoot>
              <tbody aria-relevant="all" aria-live="polite" role="alert"><tr class="odd">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Firefox 1.0</td>
                <td class=" ">Win 98+ / OSX.2+</td>
                <td class=" ">1.7</td>
                <td class=" ">A</td>
              </tr><tr class="even">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Firefox 1.5</td>
                <td class=" ">Win 98+ / OSX.2+</td>
                <td class=" ">1.8</td>
                <td class=" ">A</td>
              </tr><tr class="odd">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Firefox 2.0</td>
                <td class=" ">Win 98+ / OSX.2+</td>
                <td class=" ">1.8</td>
                <td class=" ">A</td>
              </tr><tr class="even">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Firefox 3.0</td>
                <td class=" ">Win 2k+ / OSX.3+</td>
                <td class=" ">1.9</td>
                <td class=" ">A</td>
              </tr><tr class="odd">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Camino 1.0</td>
                <td class=" ">OSX.2+</td>
                <td class=" ">1.8</td>
                <td class=" ">A</td>
              </tr><tr class="even">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Camino 1.5</td>
                <td class=" ">OSX.3+</td>
                <td class=" ">1.8</td>
                <td class=" ">A</td>
              </tr><tr class="odd">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Netscape 7.2</td>
                <td class=" ">Win 95+ / Mac OS 8.6-9.2</td>
                <td class=" ">1.7</td>
                <td class=" ">A</td>
              </tr><tr class="even">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Netscape Browser 8</td>
                <td class=" ">Win 98SE+</td>
                <td class=" ">1.7</td>
                <td class=" ">A</td>
              </tr><tr class="odd">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Netscape Navigator 9</td>
                <td class=" ">Win 98+ / OSX.2+</td>
                <td class=" ">1.8</td>
                <td class=" ">A</td>
              </tr><tr class="even">
                <td class="  sorting_1">Gecko</td>
                <td class=" ">Mozilla 1.0</td>
                <td class=" ">Win 95+ / OSX.1+</td>
                <td class=" ">1</td>
                <td class=" ">A</td>
              </tr></tbody></table><div class="row"><div class="col-xs-6"><div id="example1_info" class="dataTables_info">Showing 1 to 10 of 57 entries</div></div><div class="col-xs-6"><div class="dataTables_paginate paging_bootstrap"><ul class="pagination"><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div></div></div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>

    </section><!-- /.content -->
