<section class="content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Not found!</h1>
      <h4>You need create file <i>"<%= params[:action] %>.html.erb"</i> in <i>"/app/views/ants_admin/<%= @model_string.pluralize %>"</i> folder.</h4>
    </div>
  </div>
</section>