<h1>You need config current_logined</h1>
<a href='/'>View solution</a>

<div class="row">
  <span class='file_name'>file: <i>application_controller.rb</i></span>
  <code>
    <ul>
      <li class='tab0'><span class='class'>class</span> <span class='class_name'>ApplicationController</span> <span class='default'>< ActionController::Base</span></li>
      <li class='tab1'><span class='def'>def</span> <span class='def_name'>current_logined</span></li>
      <li class='tab2'><span class='code'>authenticate_user!</span></li>
      <li class='tab1'><span class='end'>end</span></li>
      <li class='tab0'><span class='end'>end</span></li>
    </ul>
  </code>
</div>
