<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/assets/ants_admin/avatar.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p><%= @current_user.username %></p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        
        <% render partial: '/layouts/areas/search_box' %>
        
        <%= main_menu_ants_admin([{
          text: 'Dashboard',
          url: '/',
          active: true,
          icon: 'dashboard'
        },{
          text: 'Item',
          url: '/admin/item/new',
          icon: 'dashboard'
        },{
          text: 'Widgets',
          url: '/',
          active: false,
          icon: 'th',
          note: {
            text: "new",
            color: 'green'
          }
        },{
          text: 'Charts',
          url: '/',
          active: false,
          icon: 'bar-chart-o',
          submenu: [{
            text: "Morris",
            url: "/"
          },{
            text: "Flot",
            url: "/"
          },{
            text: "Inline charts",
            url: "/"
          }]
        }]) %>
    </section>
    <!-- /.sidebar -->
</aside>
