<!DOCTYPE html>
<html>
  <head>
    <title>Ants Admin</title>
    <link href="/assets/ants_admin/favicon.ico" type="image/x-icon" rel="icon">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    
    <%= stylesheet_link_tag    "ants_admin/application", :media => "all" %>  
    <%= javascript_include_tag "ants_admin/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="ants_admin_login" class="bg-black">
    <%= yield %>
  </body>
</html>